@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }

  * {
    @apply scroll-smooth;
  }
}

.leaflet-container {
  z-index: 0;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}
